spring:
  application:
    name: OzonBomgeBot
  main:
    banner-mode: "off"
  datasource:
    url: jdbc:sqlite:${APP_DATA_DIR:./data}/ozonbot.db
    driver-class-name: org.sqlite.JDBC
    hikari:
      maximum-pool-size: 2
      minimum-idle: 1
      connection-timeout: 8000
      # PRAGMA на каждый коннект
      connection-init-sql: |
        PRAGMA journal_mode=WAL;
        PRAGMA synchronous=NORMAL;
        PRAGMA busy_timeout=5000;
        PRAGMA foreign_keys=ON;
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.dialect: org.hibernate.community.dialect.SQLiteDialect
      hibernate.show_sql: false
      hibernate.format_sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration/sqlite

server:
  port: 8080
  error:
    include-stacktrace: always
    include-exception: true
    include-message: always

logging:
  level:
    root: INFO
app:
  bot:
    name: ${APP_BOT_NAME}
    token: ${APP_BOT_TOKEN}

  scheduler:
    cron: "0 */10 * * * *"

  s3:
    enabled: ${S3_ENABLED}
    endpoint: ${S3_ENDPOINT}
    bucket: ${S3_BUCKET}
    accessKey: ${S3_ACCESS_KEY}
    secretKey: ${S3_SECRET_KEY}
    ensureBucket: ${S3_ENSURE_BUCKET}
    connectTimeoutMs: 5000
    writeTimeoutMs: 30000
    readTimeoutMs: 30000

